<a href="https://colab.research.google.com/github/richboy9717/colab-notebooks/blob/main/3_modul_2_amaliyot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

## Avvalgi amaliyotda `GitHub`ga yuklangan `melb_data.csv` faylni `df` ga chaqirib oling

In [5]:
#Javobingizni shu yerga yozing
df2 = pd.read_csv('https://raw.githubusercontent.com/richboy9717/ds-datasets/main/melbdata.csv',index_col=0)
df2.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [6]:
# Mening javobim
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/blob/main/melb_data.csv?raw=true")
df.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

Yuqoridagi Dataframe Melburn shahri uchun sotuvdagi uylar haqida m'lumotlarni jamlagan.

Quyida jadvalning ba'zi sutunlari tarjimasi berilgan (qolganini o'zingiz Google yordamida tarjima qilishingiz mumkin):
- `Room` - xonalar soni
- `Type` - uyning turi (h - villa/kottej/hovli; u - kvartira; t - shahardagi hovli)
- `Price` - narx
- `Bathroom` - tualet-vanna
- `Landsize` - yerning maydoni (hovli uchun)
- `BuildingArea` - Bino qurilgan yerning maydoni
- `YearBuilt` - qurilgan yili
- `Lattitude` va `Longitude` - GPS kordinatalar
- `Regionname` - Region

# 🔺 DIQQAT! 
#### **Agar alohida aytilmagan bo'lsa, `df`ga kiritilgan o'zgartirishlarni saqlamang (`inplace=False`)**

## 1-VAZIFA. `df` dagi barcha ustunlardagi`NaN` qiymatlar sonini chiqaring

In [7]:
#Javobingizni shu yerga yozing
df2.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea     6417
YearBuilt        5344
CouncilArea      1307
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

## 2-VAZIFA. `df` barcha `NaN` qiymatlarni 0 bilan almashtiring

In [8]:
#Javobingizni shu yerga yozing
df2.fillna(0)

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13518 rows x 21 columns]

## 3-VAZIFA. Quyidagi 2 ustun uchun o'rta qiymatlarni hisoblang:
- BuildingArea
- YearBuilt (**butun son qaytishi kerak**)

In [12]:
#Javobingizni shu yerga yozing
print(df2['BuildingArea'].mean())
print(int(df2['YearBuilt'].mean()))

152.12890349246587
1964

**To'g'ri javob:**

In [13]:
print(df['BuildingArea'].mean())
print(int(df['YearBuilt'].mean()))

152.12890349246587
1964

## 4-VAZIFA: `BuildingArea` va `YearBuilt` ustunlaridagi `NaN` qiymatlarni shu sutun uchun o'rta qiymatlar bilan almashtiring
**DIQQAT!** `YearBuilt` ustuni qiymatlari butun son bo'lishi kerak

In [14]:
#Javobingizni shu yerga yozing
df2.fillna({'BuildingArea':df2['BuildingArea'].mean(), 'YearBuilt':int(df2['YearBuilt'].mean())}).head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

**To'g'ri javob:**

In [15]:
df.fillna({'BuildingArea':df['BuildingArea'].mean(), 'YearBuilt':int(df['YearBuilt'].mean())})

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13513  Wheelers Hill  ...        7392.0
13514   Williamstown  ...        6380.0
13515   Williamstown  ...        6380.0
13516   Williamstown  ...        6380.0
13517     Yarraville  ...        6543.0

[13518 rows x 21 columns]

## 5-VAZIFA. `.groupby()`
Ustun uchun o'rta qiymat har doim ham aniq bo'lavermaydi. Keling avval `YearBuilt` ustuni uchun aniqroq qiymat topishga harakat qilamiz. 

Buning uchun `Regionname` ustuni qiymatlaridan foydalanishimiz mumkin, ya'ni bir Regiondagi binolar tahminan bir hil yillarda qurilgan deb tahmin qilsak bo'ladi.

### 5.1 `.groupby()` yordamida `df` qiymatlarini `Regionname` ustuni bo'yicha guruhlang va `YaerBuilt` ustuni uchun o'rta qiymatni hisoblang.

In [19]:
#Javobingizni shu yerga yozing
df2.groupby('Regionname').YearBuilt.mean().apply(np.int)

Regionname
Eastern Metropolitan          1971
Eastern Victoria              1984
Northern Metropolitan         1962
Northern Victoria             1986
South-Eastern Metropolitan    1976
Southern Metropolitan         1960
Western Metropolitan          1968
Western Victoria              1982
Name: YearBuilt, dtype: int64

**To'g'ri javob:**

In [ ]:
#@title Default title text
df.groupby(['Regionname']).YearBuilt.mean().astype(int)

Regionname
Eastern Metropolitan          1971
Eastern Victoria              1984
Northern Metropolitan         1962
Northern Victoria             1986
South-Eastern Metropolitan    1976
Southern Metropolitan         1960
Western Metropolitan          1968
Western Victoria              1982
Name: YearBuilt, dtype: int64

In [20]:
df2[(df2['Rooms']==4) & (df2['Type']=='t')].mean()

Rooms            4.000000e+00
Price            1.217092e+06
Distance         1.144467e+01
Postcode         3.121360e+03
Bedroom2         3.906667e+00
Bathroom         2.400000e+00
Car              1.826667e+00
Landsize         3.264133e+02
BuildingArea     1.946342e+02
YearBuilt        2.001676e+03
Lattitude       -3.784525e+01
Longtitude       1.450242e+02
Propertycount    6.545193e+03
dtype: float64

### 5.2. `df` `YearBuilt` ustunidagi `NaN` qiymatlarni yuqoridagi qiymatlar bilan almashtiring.
`df[df.Regionname='Eastern Metropolitan']=...`

Har bir `Regionname` uchun qiymatlarni bittalab kiritmaslik uchun for siklidan foydalanishingiz mumkin.

In [21]:
#Javobingizni shu yerga yozing
groups = df2.groupby(['Regionname']).YearBuilt.mean().apply(np.int)
for v,i in groups.items():
  df2[df2['Regionname']==v] = df2[df2['Regionname']==v].fillna({'YearBuilt':i})

**To'g'ri javob**

In [ ]:
groups = df.groupby(['Regionname']).YearBuilt.mean() # Bu Series obyekti
for idx in groups.index:
   df[df.Regionname==idx] = df[df.Regionname==idx].fillna({'YearBuilt':groups[idx]})

### `YearBuilt` uchun yana ham aniqroq o'rta qiymat hisoblashning qanday yo'lini taklif qilgan bo'lar edingiz?

## 6-VAZIFA. `BuildingArea` ustunidagi `NaN` qiymatlarni to'ldiramiz
`BuildingArea` bino qurilgan yerning maydonini bildiradi. Bu qiymatlarni tahmin qilish uchun qaysi ustun qiymatlaridan foydalanish to'g'ri deb hisoblaysiz?

In [33]:
df2.sample(6)

                Suburb  ... Propertycount
5995          Sunshine  ...        3755.0
7722   Caulfield North  ...        6923.0
13088     Airport West  ...        3464.0
12225     Balwyn North  ...        7809.0
5395          Richmond  ...       14949.0
1458    Brunswick West  ...        7082.0

[6 rows x 21 columns]

### 6.1 `df`ni xonalar soni bo'yicha o'rta qiymat olib ko'ring

In [36]:
#Javobingizni shu yerga yozing
df2.groupby(['Rooms']).mean()

              Price   Distance  ...  Longtitude  Propertycount
Rooms                           ...
1      4.330906e+05   5.933776  ...  144.984837    8700.883481
2      7.724822e+05   7.757178  ...  144.989840    7804.176146
3      1.074386e+06  11.023291  ...  144.987749    7311.987526
4      1.445124e+06  12.153763  ...  145.012194    7097.774963
5      1.870260e+06  11.778523  ...  145.033244    7051.510067
6      1.849366e+06  12.685075  ...  145.034099    6668.865672
7      1.920700e+06   9.560000  ...  145.033313    6874.300000
8      1.602750e+06  10.912500  ...  145.014315    6085.375000
10     9.000000e+05  12.100000  ...  145.053810   10175.000000

[9 rows x 12 columns]

### 6.2 Xonalar va uy turi bo'yicha o'rta qiymatni olib ko'ring.

In [38]:
#Javobingizni shu yerga yozing
df2['Rooms'].groupby(df2['Type']).mean()

Type
h    3.265097
t    2.837522
u    1.964511
Name: Rooms, dtype: float64

### 6.3 Ahamiyat bering, 10 xonalik uylar uchun o'rta qiymat chiqmayapti. Bu nimadan dalolat beradi? Jami 10 xonalik uylar nechta? Ular bilan qanday yo'l tutishni maslahat berasiz?

In [30]:
#Javobingizni shu yerga yozing
df2[df2['Rooms']==10]

         Suburb    Address  ...             Regionname Propertycount
11304  Bundoora  5 Ball Ct  ...  Northern Metropolitan       10175.0

[1 rows x 21 columns]

### 6.4 `BuildingArea` ustunidagi mavjud `NaN` qiymatlarni o'zingiz to'g'ri deb bilgan usul bilan to'ldiring.

In [31]:
groups = df2.groupby(['Rooms']).BuildingArea.mean()
for v,i in groups.items():
    df2[df2.Rooms==v] = df2[df2.Rooms==v].fillna({'BuildingArea':i})

In [32]:
S = df2[df2.Rooms==3].mean()*3+df2[df2.Rooms==1].mean()
df2[df2.Rooms==10] = df2[df2.Rooms==10].fillna({'BuildingArea':S[8]})

### 7-VAZIFA. Yuqoridagi vazifalardan so'ng, bizda faqatgina `CouncilArea` ustunida `NaN` qiymatlar qolishi kerak xolos.
**Bu ustundagi `NaN` qiymatlarni avvalgi qatordagi qiymatlar bilan to'ldirib keting. Natijani saqlab qoling**

In [45]:
df2.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
YearBuilt           0
CouncilArea      1305
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [46]:
df2.CouncilArea = df2[['CouncilArea']].fillna(method='ffill')

## YAKUNIY JADVAL
Ahamiyat bering, yakuniy jadvalda `NaN` qiymatlar bo'lmasligi kerak.

In [47]:
df2.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64